
.todo-list {
  border: 2px solid black;
  background-color: darkgray;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  width: 94%;
  margin: 16px;
}

.todo-list-input {
  width: 100%;
  height: 40px;
  border: 1px dashed red;
  padding: 0 16px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}

.todo-list-input:focus {
  outline: 1px solid red;
}

.todo-list-item-container {
  display: flex;
  width: 100%;
}

.todo-list-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 16px;
}

.todo-list-footer-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
}

.todo-list-button {
  height: 32px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0 8px;
  background-color: #dddddd;
}

.todo-list-button:hover {
  background-color: #cccccc;
}

.todo-list-button:active {
  background-color: #e8e8e8;
}
