:root {
  --text-color-default: black;
  --text-color-completed: #777777;
  --background-color-default: white;
  --background-color-card: var(--background-color-default);
  --background-color-item: white;
  --button-color-default: #e8e8e8;
  --button-color-hover: #dddddd;
  --button-color-active: #f0f0f0;
  --button-color-apply: #cc1616;
  --border-color-weak: #dddddd;

  --color-marker: green;
}


body {
  height: 100vh;
  min-height: 100vh;
  background-color: var(--background-color-default);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
}

.core-container {
  width: 90%;
  height: 70%;
  background-color: var(--background-color-default);
}

button {
  border: 1px solid black;
  border-radius: 2px;
  padding: 0 8px;
  background-color: var(--button-color-default);
}

button:hover {
  background-color: var(--button-color-hover);
}

button:active {
  background-color: var(--button-color-active);
}




